.container{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 1rem;
}

.btnContainer{
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: lightgray;
}